# Directories
auto-save-list
.backups
.cache
elpa
eshell
semanticdb
transient

# Files
bookmarks
custom.el
ede-projects.el
elpa.tar.xz
flycheck_*.elc
.lsp-session-v1
network-security.data
places
projectile-bookmarks.eld
recentf
session.*
tramp

# Globs
*\~