auto-save-list
bookmarks
elpa
custom.el
recentf
places
projectile-bookmarks.eld
projectile.cache
semanticdb
ede-projects.el
tramp
transient
url
session*
eww-bookmarks
eshell
\.cache
\.lsp-session*
\#*
*~
